@tailwind base;
@tailwind components;

// Code syntax highlighting,
// powered by https://highlightjs.org
@import '~highlight.js/styles/shades-of-purple.css';

@import 'base';
@import 'navigation';
@import 'mailchimp';
@import 'blog';
@import 'markdown';

@tailwind utilities;
